fastapi==0.103.1
uvicorn==0.23.2
pydantic==2.4.2
numpy==1.26.4
pytest==8.3.2
requests==2.32.3
httpx==0.24.1
prometheus_client==0.20.0
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.2.2
torch==2.2.2+cpu
torchvision==0.17.2+cpu
huggingface_hub==0.14.1
transformers==4.30.2
