[Desktop Entry]
Name=FocusBoard
Comment=Automatic activity tracking and focus analytics
Exec=/usr/bin/focusboard
Icon=focusboard
Type=Application
Categories=Office;Utility;
Terminal=false
StartupWMClass=com.anurupkrishnan.focusboard
StartupNotify=true
TryExec=/usr/bin/focusboard
